
/*
Stylesheet of the NutrOn-Software
 */
@media screen and (min-width: 1800px) {
    html, body {
        background: url(../images/pexels-ella-olsson-1640777.jpg) no-repeat;
        background-size: 1920px 970px;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    /*
    Background-Image
     */
    .bg-image {
        background: url(../images/pexels-ella-olsson-1640777.jpg) no-repeat;
        background-size: 1910px 980px;
        position: absolute;
        filter: blur(8px);
        width: 1910px;
        height: 960px;
        z-index: -1;
    }
    .navbarmobile{
        padding: 0 0;
        height: 50px;
        width: 100%;
        background-image: linear-gradient(to right,black, gray, black);
        position: absolute;
        visibility: hidden;
    }
    footer {
            background-color: rgb(226, 226, 226);
            position: fixed;
            left: 0;
            bottom: 0;
            max-height: 10%;
            width: 100%;
            text-align: center;
        }

        footer img {
            height: 45px;
        }

    /*
    NavigationBar
     */
    .navbar {
        height: 7%;
        margin-top: 0%;
        width: 100%;
        padding: 0.5% 8%;
        background-color: #23c483;
        position: relative;
    }
    .navbarmobile{
        visibility: hidden;
        position: absolute;
    }

    footer {
            background-color: transparent;
            position: fixed;
            left: 0;
            bottom: 10px;
            max-height: 10%;
            width: 100%;
            text-align: center;
        }

        footer img {
            height: 45px;
        }
    /*
    Other Colors:
    skyblue : radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
     */
    /*
    The Position of the icon and buttons
     */
    #homebutton {
        margin-left: 39.5%;
        position: absolute;
        margin-top: 1.5%;
        width: 9%;
        font-size: 70%;
    }

    #contact {
        margin-left: 49%;
        position: absolute;
        margin-top: 0.7%;
        width: 9%;
        font-size: 70%;
    }
    #disclaimer{
        margin-left: 58.5%;
        position: absolute;
        margin-top: -0.1%;
        width: 9%;
        font-size: 70%;
    }
    #backhome{
        margin-left: 30%;
        position: absolute;
        margin-top: -0.95%;
        width: 9%;
        font-size: 70%;
    }

    #logout {
        margin-left: 71%;
        position: absolute;
        font-size: 300%;
        margin-top: -2.2%;
        color: black;
    }


    #logout:hover {
        color: white;
    }

    .title {
        position: absolute;
        font-family: 'Brush Script MT', cursive;
        font-size: 25px;
        margin-top: -20px;
        margin-left: -40px;
    }

    .searchbutton {
        width: 8%;
        background-color: blue;
        color: white;
        padding: 5px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .details {
        width: 80px;
        background-color: blue;
        color: white;
        padding: 5px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #icon {
        position: absolute;
        margin-left: -90px;
        font-size: 40px;
        color: green;
        margin-top: 10px;
    }

    /*
       button style
     */
    .btn {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: lightblue;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    .btn:hover {
        background-color: white;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: black;
        transform: translateY(-7px);
    }

    .btn:active {
        transform: translateY(-1px);
    }


    #dropdown {
        width: 5%;
        display: inline-block;
        margin-left: 69%;
        position: absolute;
        margin-top: -1.6%;
        font-size: 240%;
        color: black;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: ghostwhite;
        color: black;
        width: 10%;
        z-index: 1;
        font-size: 12px;
        margin-left: 65%;
        margin-top: 1.0%;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: black;
        padding: 6px 11px;
        text-decoration: none;
        display: block;
    }

    #dropdown:hover {
        color: white;
    }


    .dropdown-content a:hover {
        background-color: white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover #dropbtn {
        background-color: turquoise;
    }
}
