<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Continue without Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/bootstrap-3.4.1/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap-3.4.1/docs/examples/signin/signin.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please input the required data</h2>

        <label for="name" class="sr-only">Name</label>
        <input type="email" id="name" class="form-control" placeholder="Name" required autofocus><br>

         <label for="activity">Select Activity Level:</label>
         <select class="form-control" id="activity">
              <option value="low">low activity (office workers) </option>
              <option value="mid">average activity (work with partially standing/walking activity)</option>
              <option value="high">high activity (work with only standing and walking activity) </option>
         </select>
          <br>

          <label for="gender">Select your Gender</label>
         <select class="form-control" id="gender">
              <option value="low">low activity (office workers) </option>
              <option value="mid">average activity (work with partially standing/walking activity)</option>
         </select>
          <br>

        <label for="weight">Input your Weight:</label>
        <input type="email" id="weight" class="form-control" placeholder="Weight" required autofocus><br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>