<!DOCTYPE html>
<html lang="en" style="overflow: scroll">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://css.gg/profile.css' rel='stylesheet'>
    <link rel="stylesheet" href='../static/css/stylesheet.css'>
    <link rel="stylesheet" href='../static/css/laptop.css'>
    <link rel="stylesheet" href="../static/css/mobile.css">
    <link rel="stylesheet" href="../static/css/productScan.css">

    <title>Product Scan</title>

</head>

<div class="bg-image">

</div>
<div class="navbarmobile" id="myTopnav">
  <div class="dropdown2">
  <button onclick="myFunction()" class="dropbtn2"><i class="fa fa-bars"></i>
  </button>
  <div id="myDropdown" class="dropdown2-content">
        <form action = "{{ url_for('homepage') }}" method = "POST" id="formhome">
            <input type="hidden" name="username" value=" {{ username }}">
            <a href="#" onclick="document.getElementById('formhome').submit()">Nutron</a>
        </form>
        <form action = "{{ url_for('logouttohome') }}" method = "POST" id="formbackhome">
            <a href="#" onclick="document.getElementById('formbackhome').submit()">ProductKG</a>
        </form>
        <form action = "{{ url_for('contactnutron') }}" method = "POST" id="formcontact">
            <a href="#" onclick="document.getElementById('formcontact').submit()">Contact</a>
        </form>
        <form action = "{{ url_for('disclaimernutron') }}" method = "POST" id="formdisclaimer">
            <a href="#" onclick="document.getElementById('formdisclaimer').submit()">Disclaimer</a>
        </form>
        <form action = "{{ url_for('logout') }}" method = "POST" id="formlogout">
            <a href="#" onclick="document.getElementById('formlogout').submit()">Logout  <i class="fa fa-sign-out"></i></a>
        </form>
  </div>
</div>
</div>
<div class="navbar">
    <i id="icon" class="fa fa-leaf"></i>
    <div class="title">
        <h1>NutrOn</h1>
    </div>
<form action = "{{ url_for('homepage') }}" method = "POST">
                <input name="username" type="hidden" value="{{ username }}">
                <input class="btn" id="homebutton" type ="submit" value = "Homepage" /><br>
</form>
<form action = "{{ url_for('contactnutron') }}" method = "POST">
                <input name="username" type="hidden" value="{{ username }}">
                <input class="btn" id="contact" type ="submit" value = "Contact" /><br>
</form>
<form action = "{{ url_for('disclaimernutron') }}" method = "POST">
                <input name="username" type="hidden" value="{{ username }}">
                <input class="btn" id="disclaimer" type ="submit" value = "Disclaimer" /><br>
</form>
<form action = "{{ url_for('logouttohome') }}" method = "POST">
                <input name="username" type="hidden" value="{{ username }}">
                <input class="btn" id="backhome" type ="submit" value = "ProductKG" /><br>
</form>


<div class="dropdown">
  <i id="dropdown" class="fa fa-user"></i>
  <div class="dropdown-content">
      {% for item in everything %}
    <a href="#">Weight: {{ item[4] }}</a>
    <a href="#">Gender: {{ item[2] }}</a>
       {% endfor %}
    <a href="#">Age: {{ userage }}</a>
    <a href="#">Activity Level: {{ useractivity }}</a>
  </div>
</div>
<form action="{{ url_for('logout') }}" method="post">
    <button ><i class="fa fa-sign-out" id="logout"></i></button>
</form>
</div>
<body style="overflow: scroll">
<div>
    <div class="tutorialBox">
        <div class="infobox">
            <h class="infoText">How To:</h>
            <p>On this page, you can either manually upload an image of a barcode or hold the desired product in front
                of your camera.</p>
            <p>If the page finds a barcode, it will be searched in our database.</p>
            <p> If the product is in the database you will get the listing of the ingredients.</p>
            <p> You can get more information about specific ingredients by clicking on the "More information"
                button. </p>
            <p> If you click the link below you will download an example image of barcode, that can be used for this
            purpose</p>
        </div>
    </div>

    <div class="panel-body" style="overflow: auto">

        <div class="infobox">

            </p>
            <a href="../static/images/barcode_benzoic.png" download>Download Example Image</a>
            <div class="form">
                <form enctype="multipart/form-data" action="/upload_file/" method="POST">
                    <p class="dashButton">File: <input type="file" name="filename"/></p>
                    <p><input type="submit" value="Upload" class="dashButton"></p>
                </form>
                <form enctype="multipart/form-data" action="/upload_webcam/" method="POST">
                    <!--<p>File: <input type="file" name="filename"/></p>-->
                    <p><input type="submit" value="Use webcam" class="dashButton"></p>
                </form>
            </div>
            <div class="form">

            </div>
       	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
            <div>


                <div class="tables" style="overflow: auto">
                    <button class="collapsible">Ingredients of product</button>
                    <div class="content">
                        <table align="left" id="ingredient" class="table">
                            <thead>
                            <tr>
                                <th >Ingredient</th>
                                <th >Classification</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for item in harmful_ingredients%}
                            <tr>
                                <td style="background: lightcoral; "><b>{{item[0]}}</b></td>
                                <td >{{item[1]}}</td>

                            </tr>
                            {%endfor%}
                            {%for item in ingredients %}
                            <tr>
                                <td style="background: #a0f0a0"><b>{{item}} </b></td>
                                <td>

                                </td>

                            </tr>
                            {%endfor%}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
         <p>Projekt der Universität Bremen<p>
        <img src="https://ai.uni-bremen.de/lib/tpl/agkitpl/images/ai_logo.png">
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

</script>
</body>
</body>
</html>
